*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after{ box-sizing: border-box;}

*::before{ box-sizing: border-box;}
a{
    color: inherit;
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
input{font: inherit}
body{
    font-size: 14px;
    line-height: 1.5;
    background: #8B98A6;

}

body{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}




/*layout*/
.page-wrapper{
    width: 1106px;
    height: 641px;
    border-radius: 15px;
    background: url("../img/4.jpg")no-repeat;

    background-size:cover;





}

.page{
    display: flex;
    width: 1106px;
    height: 641px;
    border: 9px #110D16 solid;
    border-radius: 15px;
    box-shadow: 0px 35px 48px -7px rgba(0,0,0,0.73);
    flex-direction: column;
    background: rgba(0,0,0,0.24);

}

.main-aside-wrapper{
    display: flex;



}

aside{
    flex-grow: 1;



}

main{
    width: 850px;
    height: 680px;


}


/*tab*/


.page{
    position: relative;

}


.logo{
    position: absolute;
    border-radius: 0px 0px 8px 8px;
    width: 59px;
    height: 75px;
    background-color: #110D16;
    margin-left: 36px;

}

.logo > span{
    display: flex;
    font-size: 17px;
    color: #fff;
    justify-content: center;
    padding-top: 35px;
}

.title{
    position: absolute;

    font-size: 35px;
    margin-left: 110px;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0px 15px rgba(0,0,0,1);

}

/*aside*/
aside{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;


}

aside::before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
    filter: blur(70px);
    background: rgba(1, 6, 29, 0.4);
    overflow: hidden;
    margin: -30px;

}


.listTitle{
    padding: 10px;
    text-align:  center;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(194,194,194,.2);
    font-size: 18px ;
    z-index: 1;
}





#songList-container{
    flex-grow: 1;
    z-index: 1;
    font-size: 16px;


}


.songList{
    border-top: 1px solid #ddd;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(194,194,194,.9);






}
.songList > li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

}



.songList > li.active{
    background: rgba(0,0,0,.3);
}





/*main*/

main{
    display: flex;
    align-items: center;

    flex-direction: column;
    padding-top: 123px;

    padding-left: 20px;
}




.xxx{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 450px;
    height: 360px;
    background: rgba(0,0,0,0.25);

}











/*player*/

.playArea{
    display: flex;
    flex-grow: 1;

}


.player-wrapper {
    display: flex;
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    width: 850px;
    padding: 30px;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(194, 194, 194, .9);


}

.controls{

}
.playButton{
    position: relative;
}

.playButton.active{
    visibility: hidden;
}

.pauseButton{
    visibility: hidden;
    position: absolute;
    top: 558px;
    left: 32px;
}
.pauseButton.active{
    visibility: visible;
}

.Audio{
    margin-left: 35px;
    width: 90%;

}

.icon {
    width: 3em;
    height: 3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    z-index: 6;
}

.pgs {
    width: 650px;
    background-color: #2b2b2b;
    position: relative;
    overflow: hidden;
    height: 3px;
}

.pgs-play {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(250,250,250,0.5);

}

.playbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.playbar > span{
    margin: 0 5px;
}








/******************/
.clickable{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    cursor: pointer;
    background-color: rgba(46,44,49,0.9);
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 10px rgba(194,194,194,.3);
    box-shadow: inset -1px -1px 48px -12px rgba(0,0,0,0.75);


}

.clickable:hover {

    text-shadow: 0 0 10px rgba(210, 210, 210, .9);

}